/* General container styling */
.artist-artwork-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    background-color: #E8E8E8; /* light grey background for better contrast */
  }
  
  .artist-artwork-detail-container img {
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* smooth zoom on hover */
  }
  

  
  .artist-artwork h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: "Merriweather", serif;
    font-weight: 500;
    color: #1c1c1c;
    text-align: center;
  }
  
  .artist-artwork p {
    font-size: 1.2rem;
    color: #8C8C8C;
    text-align: center;
    font-family: "Merriweather", serif;

  }
  